.vps{
    display: grid;
    grid-template-columns: (3,1fr);
    grid-template-rows: 50px,auto;
    grid-gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border: double blueviolet;
    text-align: center;
    border-radius: 7px;
}

#div2{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border: double blueviolet;
    text-align: center;
    border-radius: 7px;
}
#div3 {
    grid-column: 3 / 3;
    grid-row: 1 / 4;
    border: double blueviolet;
    text-align: center;
    border-radius: 7px;
}

#div4 {
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    background-color: blue;
    color: white;
    padding: 30px;
    border-radius: 7px;
}

#ofertas{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}