body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    /*Variables de colores*/
    --color-principal:#006400;
    --color-pastel:#A8E6CF;
    --color-texto-oscuro:#333;
    --color-acento:#90EE90;
    min-height: 100vh;
}

.bloque{
border:1px solid var(--color-principal);
padding: 15px;
}

#layout{
 display: grid;
 grid-template-columns:200px 1fr 1fr ;
 grid-template-rows: auto 1fr auto;
 grid-template-areas: 
        "header header header"
        "aside  main   main"
        "footer footer footer"
 ;
 max-width: 1200px;
 margin: 0 auto;
 min-height: 100vh;
}

header{grid-area:header;}
aside{grid-area:aside;}
main{grid-area:main;}
footer{grid-area:footer;}

header, footer{
    background-color: var(--color-principal);
    color: white;
}

aside{
    background-color: var(--color-pastel);
}

main{
    background-color: white;
}

nav ol{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav ol li{
    display: inline-block;
    /*Clave par el posicionamiento absoluto de los hijos*/
    position: relative;
}

nav a{
    text-decoration: none;
    background-color: var(--color-texto-oscuro);
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    display: block;
}

nav ol li ol{
    display:none;
    position:absolute;
    min-width: 150px;
}

nav ol li ol li{
    margin: 2px 0; 
}

nav ol li:hover > ol{
    display:block;
}

nav a:hover{
    background-color: var(--color-pastel);
    color:var(--color-principal);
    transition: background-color 0.5s;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width:800px){

    #layout{
        grid-template-columns: 1fr  ;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header"
            "nav   nav   nav"
            "main  main   main"
            "aside  aside  aside"
            "footer footer footer"
 ;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
    }
    main{
         div{
        grid-area: main;
        padding: 20px;
        display:flex;
        flex-direction: column;
    }

         article{
        background-color: var(--color-acento);
        margin: 10px;
        padding:10px;
        box-shadow: 2px 2px 5px var(--color-principal)
    }
}

}

main{
    div{
        grid-area: main;
        padding: 20px;
        display:flex;
    }

    article{
        background-color: var(--color-acento);
        margin: 10px;
        padding:10px;
        box-shadow: 2px 2px 5px var(--color-principal);
    }
}