.layout {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.bloque {
    border: 1px solid;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
    flex: 1;
    align-content: center;
    background-color: limegreen;
}
